:root{
  --mainBlue:#3498db;
  --transparentBlue:rgba(64,172,241,0.7);
  --mainWhite:#FFFFFF;
  --mainBlack:#292F36;
  --mainGrey:rgba(216,214,214);
  --mainYellow:#f1c40f;
}
/*head style*/
*{
	padding:0;
	margin:0;
	font-family: 'Montserrat', sans-serif;
}
/*preloader*/
.preloader{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--mainWhite);
  z-index: 999;
}
.hidePreloader{
  display: none!important;
}
/*end preloader*/

/*head 1st part start*/
.head{
	height:27px;
  width: auto;
	background:var(--mainBlue);
}
.head .new{
	position:absolute;
	top:0;
	color:var(--mainWhite);
	display:flex;
	font-weight:bold;
	margin-left:0px;
	text-transform:uppercase;
	padding:3.8px;
	background-color:var(--mainYellow);
}
.head .newshow{
	position:absolute;
	top:3px;
	color:var(--mainWhite);
	display:flex;
	animation:ahead 10s linear infinite;
	animation-direction:alternate;
	text-transform:capitalize;
	margin-left:140px;
	font-size:17px;
}
/*head 1st part end*/


/*nav item*/
.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}

/*navbar*/
.navbar{
  background: var(--mainWhite);
  height: 65px;
}
.navbar > a{
  text-decoration: none;
  font-size: 1.4rem;
  margin-left:-10px;
  transition-property: color;
  transition-duration: 2s;
  transition-timing-function: linear;
}
.navbar > a:hover{
  color: var(--mainBlack);
}
.navbar-brand img{
  width:50px;
  height:50px;
}
.navbar-icon{
  font-size: 2rem;
  color: var(--mainBlue);
}
.navbar-toggler{
  outline-color:var(--mainBlue)!important;
}
.nav-link{
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.1rem;
}
.nav-link:hover{
  color: var(--mainBlue);
}
.nav-icon{
  font-size: 1.5rem;
  color: var(--mainBlue);
  text-decoration: none!important;
  transition-property: color;
  transition-duration: 2s;
  padding-right: 10px;
  transition-timing-function: linear;
}
.nav-icon:hover{
  color: var(--mainBlack);
}
.bar{
  font-size: 30px;
  padding-right: 5px;
}
/*end navbar*/


/* slider */
.carousel-item{
		height:84vh;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.coverpage{
  clip-path:polygon(0 0,100% 0,100% 95%,50% 100%,0 95%);
  color: var(--mainWhite);
  overflow: hidden;
}
/*end slider*/


/*section title*/
.section-title-special{
  background: var(--transparentBlue);
  color: var(--mainWhite);
  padding: 0.5rem 2rem;
  clip-path: polygon(10% 0,100% 0, 90% 100%, 0 100%);

}
/*end section title*/

/*skills*/
.skills-icon{
  font-size: 3rem;
  color:var(--mainYellow);
  background:var(--mainGrey);
}
.skills-icon:hover{
  color: var(--mainYellow);
}
.skills-underline{
  width: 4rem;
  height: 0.3rem;
  background: var(--mainBlue);
  margin: 1rem auto;
}
/*end skills*/



/*inventory*/
.inventory{
  background: var(--mainGrey);
}
.car-card{
  border-radius: 0!important;
}
.car-img{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.car-value{
  background: var(--mainBlue);
  color: var(--mainWhite);
  clip-path:polygon(15% 0,85% 0,100% 100%,0 100%);
  transition: all 1s linear;
}
.car-value:hover{
  clip-path:polygon(0% 0,100% 0,100% 100%,0 100%);
}
/*end inventory*/


/*question*/
.question{
  background: url('../img/question.jpg')center/cover fixed no-repeat;
}
.question-grey{
  background: rgba(79,109,122,0.75);
}
.question-yellow{
  background: rgba(227,181,5,0.75);
}
.question-icon{
  font-size: 4rem;
  color: var(--mainBlue);
  transition: all 0.5s ease-in-out;
}
.question-icon:hover{
  transform: translateY(-10%);
  color: var(--mainBlue);
}
.question-info{
  color: var(--mainWhite);
}
/*end question*/


/*featured*/
.featured{
  background: var(--mainGrey);
}
.featured-item{
  background: var(--mainWhite);
  border-radius: 0.5rem;
  cursor: pointer;
  opacity: 0.5;
  transition: all 1s ease-in-out;
}
.featured-item:hover{
  opacity:1;
  transform: scale(1.05);
}
.featured-icon{
  font-size: 1.5rem;
  color: var(--mainYellow);
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.featured-icon:hover{
  color: var(--mainBlue);
}
.img-container{
  background: var(--mainBlue);
  position: relative;
  overflow: hidden;
}
.featured-photo{
  transition: all 1s ease-in-out;
}
.img-container:hover .featured-photo{
  transform: scale(1.3);
  opacity: 0.5;
}
.featured-link{
  position: absolute;
  top: 50%;
  left:50%;
  font-size: 3rem;
  transform: translate(-50%,-50%);
  color: var(--mainBlack);
  opacity: 0;
  transition: all 1s ease-in-out;
}
.featured-link:hover{
  color:var(--mainWhite);
}
.img-container:hover .featured-link{
  opacity: 1;
}
/*end featured*/


/*footer icon*/
.footer{
  background: var(--mainBlack);
}
.footer-icon{
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--mainYellow);
  transition: all 1s ease-in-out;
}
.footer-icon:hover{
  color: var(--mainBlue);
}













/*contact form start*/
/*#contact {
  background-image: url("../images/formbackground.jpg");
	height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-container {
    background: #ced6e0;
    border: #e2ddd2 1px solid;
    padding: 20px 40px;
    border-radius: 2px;
}

.input-row {
    margin-bottom: 20px;
}

.input-row label {
    color: #75726c;
}

.input-field {
    width: 100%;
    border-radius: 2px;
    padding: 10px;
    border: #e0dfdf 1px solid;
    box-sizing: border-box;
    margin-top: 2px;
}

.span-field {
    font: Arial;
    font-size: small;
    text-decoration: none;
}

.btn-submit {
    padding: 10px 60px;
    background: #9e9a91;
    border: #8c8880 1px solid;
    color: #ffffff;
    font-size: 0.9em;
    border-radius: 2px;
    cursor: pointer;
}

.errorMessage {
    background-color: #e66262;
    border: #AA4502 1px solid;
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 3px;
}

.successMessage {
    background-color: #9fd2a1;
    border: #91bf93 1px solid;
    padding: 5px 10px;
    color: #3d503d;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.9em;
}

.info {
    font-size: .8em;
    color: #e66262;
    letter-spacing: 2px;
    padding-left: 5px;
}
*/
/*contact form end*/
